<a href="https://colab.research.google.com/github/Dehyzz/IBM_Capstone/blob/master/The_Battle_of_Neighborhoods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Capstone Project - The Battle of Neighborhoods

## Week 1: Report beginning

### 1. Description of the problem 
It is always a big challenge to choose right location for new property, especially a hotel. As a D. Trump being a luxury property magnate once said "When considering to build new property there is three major factors that you always have to consider: Location, Location and of course Location!"

This data science project is aiming to solve the challenge of finding the best location for new hotel in $$$ price category in Dublin, Ireland. To do so we will apply machine learning algorithms on Foursquare location data.

As a measure of location choice quality we will be using Venue Rating on Foursquare. Factors known for influencing location quality: proximity to restaurants, museums, parks, monuments, shops and other points of interest (POI).

---

### 2. Description of the data and how it will be used to solve the problem

Provider of Location Data will be Foursquare. Below is high-level process for preparing data.

1. Will be used Foursquare API call "search/ + keyword=hotel" to find all existing hotels in Dublin. Than filtered only hotels with price category $$$. Saving to Pandas Dataframe.

2. For every hotel in Dataframe the rating will be found, by passing to Foursquare query with by "venue/ + id" API call) (for every hotel in Dataframe).

3. Having all the hotels we add (by "explore/" API call) nearby POI in selected categories:

    *   Restaurants
    *   Museums
    *   Parks
    *   Monuments
    *   Shops
    *   List item

4. Then we filter out some veues that have less impact on rating of high price category hotels, keeping the following:
    *   Restaurants (only with rating>4 and price_category>$$)
    *   Shops (only with price_category>$$)

5. Then we will merge all the data into Dataframe (one hotel = one line) and make a prediction for every Dublin postcode prediction of rating for hypothetical hotel build in this location.

---

## Week 2:

### 1. Report
* Introduction with the business problem and interested parties

* Data and its source

* Methodology section which represents the main component of the report where you discuss and describe exploratory data analysis, inferential statistical testing, if any, and what machine learnings were used and why.

* Results description

* Discussion section where you discuss any observations you noted and any recommendations you can make based on the results

* Conclusion section where you conclude the report

### 2. A link to your Notebook

### 3. Presentation or blogpost


### Example

* Report: https://cocl.us/coursera_capstone_report
* Notebook: https://cocl.us/coursera_capstone_notebook
* Presentation: https://cocl.us/coursera_capstone_presentation
* Blogpost: https://cocl.us/coursera_capstone_blogpost

# Importing Libs & G.Drive

In [ ]:
### Importing Libraries
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values
from pandas.io.json import json_normalize # tranforming json file into a pandas dataframe library
import folium # plotting library

# Mounting Gdrive in Notebook
from google.colab import drive
drive.mount('/content/drive/')

# libraries for displaying images
# from IPython.display import Image 
# from IPython.core.display import HTML

In [ ]:
### Foursquare Auth data
CLIENT_ID = '1Z1J1FGK4R5WD2RSEUC3P011PLPLUP02NJGM2W1OF3UYXJ2M' # your Foursquare ID
CLIENT_SECRET = 'LTVB0HMSJU4SPBTD4ZWGCFBUTSGOQ4F3L5VZ0YNAAZZ45FDT' # your Foursquare Secret
VERSION = '20200531'

### Center location - by default
address = 'London, UK'
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude

# Preparing Data

1. Getting List of hotels in Dublin (NAME, LATITUDE, LONGITUDE, CATEGORY, RATING)

In [27]:
### Getting hotels list (by 'Hotel/Inn' in category)
# https://developer.foursquare.com/docs/build-with-foursquare/categories/

hotels_cat = {
              'inn': '5bae9231bedf3950379f89cb',
              'hotel': '4bf58dd8d48988d1fa931735'
             }

radius = 40*1000 # in km
LIMIT = 1000
intent='browse'
search_query = ''
url_search = 'https://api.foursquare.com/v2/venues/search?'


# function that gets hotel list of the area by category
def get_hotel_list(category):
  # request 
  url = '{}client_id={}&client_secret={}&ll={},{}&{}&v={}&query={}&radius={}&limit={}&categoryId={}'\
      .format(url_search, CLIENT_ID, CLIENT_SECRET, latitude, longitude, intent, VERSION, search_query, radius, LIMIT, category)
  results = requests.get(url).json()

  # tranform results into dataframe
  df = json_normalize(results['response']['venues'])
  filtered_columns = ['id', 'name', 'location.city', 'location.lat', 'location.lng'] + ['categories']
  hotels = df.loc[:, filtered_columns]

  # Unpack category name in 'categories'
  hotels['category_id'] = [d[0].get('id') for d in hotels.categories]
  return hotels

hotels_df = pd.DataFrame()
for value in hotels_cat.values():
  hotels = get_hotel_list(value)
  hotels_df = hotels_df.append(hotels, ignore_index=True)

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']


# get category name for each row
hotels['category'] = hotels.apply(get_category_type, axis=1)
hotels.drop('categories', axis=1, inplace=True)
hotels.info()
hotels.head(6)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:25: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

                         id  ... category
0  4d274945d86aa09024d41dc0  ...    Hotel
1  4bb44578643cd13ab492395c  ...    Hotel
2  59dfd7c76eda02332950f453  ...    Hotel
3  59045110d1a4026a246ac71e  ...    Hotel
4  5d6d66792127810007da7e7a  ...    Hotel

[5 rows x 7 columns]

In [28]:
hotels.head(400)

                          id  ...                    category
0   4d274945d86aa09024d41dc0  ...                       Hotel
1   4bb44578643cd13ab492395c  ...                       Hotel
2   59dfd7c76eda02332950f453  ...                       Hotel
3   59045110d1a4026a246ac71e  ...                       Hotel
4   5d6d66792127810007da7e7a  ...                       Hotel
5   4c4b7418c668e21e170c11fa  ...                       Hotel
6   56474be5498e2673f4dd7f3c  ...                       Hotel
7   5dd2a07d0855370008306619  ...                       Hotel
8   5acbd085485709062d17c9fd  ...                       Hotel
9   4bc87634dc55eee17d78e8ac  ...             Bed & Breakfast
10  4b82c6b8f964a5203de430e3  ...                       Hotel
11  4acda5bbf964a5207ecc20e3  ...                 Social Club
12  4ac518b6f964a52002a120e3  ...                       Hotel
13  4b8146dbf964a520439d30e3  ...                       Hotel
14  4ac518b6f964a520e5a020e3  ...                       Hotel
15  4ac518b8f964a52081a120e3  ...                       Hotel
16  58933377469aef72f3707afe  ...                       Hotel
17  5305f35711d21b05c826da58  ...  Modern European Restaurant
18  4f2168ace4b0b69d787ef112  ...                       Hotel
19  4fe0be4b245fb5dd44a355ac  ...                       Hotel
20  4ae60730f964a5202ea421e3  ...                       Hotel
21  4d0293c6e350b60cbfce7742  ...                   Gastropub
22  5b16b4f4088158002cb113e3  ...                       Hotel
23  4ac518b4f964a52076a020e3  ...                       Hotel
24  4ac518f8f964a52000b020e3  ...                  Theme Park
25  4c359ed7ed37a593d4c47003  ...                       Hotel
26  4b82f40ff964a52026ef30e3  ...                       Hotel
27  4db3c899a86e8d2707786e4e  ...                       Hotel
28  50efd41ae4b0d03df709601d  ...                       Hotel
29  4cbe27c1575d236a9963b78e  ...                       Hotel
30  54240085498e62eee21eb8da  ...                       Hotel
31  4f953cfde5e828f50a4e42c3  ...                       Hotel
32  4b52081cf964a520a26227e3  ...                      Hostel
33  50479f2fe4b04515207037d9  ...                       Hotel
34  545d4cb5498efabcce38895b  ...                       Hotel
35  4ac518b6f964a520e4a020e3  ...                       Hotel
36  59fa2d4fa2a6ce4caac5211a  ...                       Hotel
37  4ac518b9f964a52096a120e3  ...                       Hotel
38  5ace57ae83e38048f11df223  ...                 Social Club
39  4ac518b4f964a5207ba020e3  ...                       Hotel
40  5467d5dd498e0e0479fcb948  ...                       Hotel
41  4d024b92e117f04d339423bf  ...                       Hotel
42  58bd85ad9f2583745938620a  ...                       Hotel
43  4bc82484af07a593b366802d  ...                       Hotel
44  4bc756f18b7c9c74e24236cf  ...                       Hotel
45  5b754b781953f3002ced2776  ...                       Hotel
46  4bd76fa6304fce72298f33ab  ...                       Hotel
47  4bf28f349f93952144b83098  ...                   Gastropub
48  4bd72c4b304fce72742c33ab  ...                       Hotel
49  5658b22838fae7c08d97dc51  ...                       Hotel

[50 rows x 7 columns]

In [29]:
# url = '{}client_id={}&client_secret={}&ll={},{}&{}&v={}&query={}&radius={}&limit={}&categoryId={}'\
#       .format(url_search, CLIENT_ID, CLIENT_SECRET, latitude, longitude, intent, VERSION, search_query, radius, LIMIT, category)
# results = requests.get(url).json()

# # tranform results into dataframe
# df = json_normalize(results['response']['venues'][0])
# df.head()

In [ ]:
# venue_id = '5b70c70064c8e1002ca8ef08'
# url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
# result = requests.get(url).json()
# result

In [30]:
# Get rating for every hotel
def get_rating(row):
    venue_id = row['id']
    url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
    result = requests.get(url).json()
    try:
        result = result['response']['venue']['rating']
    except:
        result = 'No rating'
    
    return result

hotels['rating'] = hotels.apply(get_rating, axis=1)
hotels.head(100)

                          id  ...     rating
0   4d274945d86aa09024d41dc0  ...        9.4
1   4bb44578643cd13ab492395c  ...          9
2   59dfd7c76eda02332950f453  ...        6.4
3   59045110d1a4026a246ac71e  ...        7.5
4   5d6d66792127810007da7e7a  ...        8.4
5   4c4b7418c668e21e170c11fa  ...  No rating
6   56474be5498e2673f4dd7f3c  ...        6.1
7   5dd2a07d0855370008306619  ...  No rating
8   5acbd085485709062d17c9fd  ...  No rating
9   4bc87634dc55eee17d78e8ac  ...  No rating
10  4b82c6b8f964a5203de430e3  ...        9.4
11  4acda5bbf964a5207ecc20e3  ...        8.8
12  4ac518b6f964a52002a120e3  ...        8.6
13  4b8146dbf964a520439d30e3  ...        8.8
14  4ac518b6f964a520e5a020e3  ...        6.4
15  4ac518b8f964a52081a120e3  ...        9.1
16  58933377469aef72f3707afe  ...        9.4
17  5305f35711d21b05c826da58  ...        8.7
18  4f2168ace4b0b69d787ef112  ...        8.4
19  4fe0be4b245fb5dd44a355ac  ...        7.9
20  4ae60730f964a5202ea421e3  ...        7.3
21  4d0293c6e350b60cbfce7742  ...        8.8
22  5b16b4f4088158002cb113e3  ...        7.5
23  4ac518b4f964a52076a020e3  ...        6.5
24  4ac518f8f964a52000b020e3  ...        7.7
25  4c359ed7ed37a593d4c47003  ...        8.3
26  4b82f40ff964a52026ef30e3  ...        5.3
27  4db3c899a86e8d2707786e4e  ...        9.1
28  50efd41ae4b0d03df709601d  ...        9.3
29  4cbe27c1575d236a9963b78e  ...        5.7
30  54240085498e62eee21eb8da  ...        9.3
31  4f953cfde5e828f50a4e42c3  ...          9
32  4b52081cf964a520a26227e3  ...        6.3
33  50479f2fe4b04515207037d9  ...        8.6
34  545d4cb5498efabcce38895b  ...        5.9
35  4ac518b6f964a520e4a020e3  ...        7.4
36  59fa2d4fa2a6ce4caac5211a  ...        7.8
37  4ac518b9f964a52096a120e3  ...        8.1
38  5ace57ae83e38048f11df223  ...        9.2
39  4ac518b4f964a5207ba020e3  ...          7
40  5467d5dd498e0e0479fcb948  ...          9
41  4d024b92e117f04d339423bf  ...        7.6
42  58bd85ad9f2583745938620a  ...        6.3
43  4bc82484af07a593b366802d  ...        9.2
44  4bc756f18b7c9c74e24236cf  ...        6.6
45  5b754b781953f3002ced2776  ...        8.9
46  4bd76fa6304fce72298f33ab  ...        8.3
47  4bf28f349f93952144b83098  ...        8.7
48  4bd72c4b304fce72742c33ab  ...        8.6
49  5658b22838fae7c08d97dc51  ...        8.7

[50 rows x 8 columns]

In [31]:
# Download csv locally
# from google.colab import files
# hotels.to_csv('Hotels.csv') 
# files.download('Hotels.csv')

In [34]:
# Write file
temp = hotels.to_csv(index=False)
with open('/content/drive/My Drive/Colab_disk/Hotels.csv', 'w') as f:
  f.write(temp)

AttributeError: ignored

# Part 2: Finding POI nearby for every hotel and then add ratings

Here we download Hotels & its Ratings from temp csv

In [4]:
gd = 'drive/My Drive/Colab_disk/Hotels.csv'
df = pd.read_csv(gd)
df.head()

                         id  ... rating
0  4d274945d86aa09024d41dc0  ...    9.3
1  5d6d66792127810007da7e7a  ...    8.2
2  59dfd7c76eda02332950f453  ...    6.4
3  59045110d1a4026a246ac71e  ...    7.4
4  4bb44578643cd13ab492395c  ...    9.1

[5 rows x 8 columns]

In [48]:
### Getting POI list (by category)
# https://developer.foursquare.com/docs/build-with-foursquare/categories/

categories = {
              'Food': '4d4b7105d754a06374d81259', 
              'Arts & Entertainment':'4d4b7104d754a06370d81259',
              'Nightlife Spot': '4d4b7105d754a06376d81259',
              'Train Station': '4bf58dd8d48988d129951735'
             }
# category = categories['Food']
radius = 30000 # in meters
LIMIT = 40000
intent='browse'
search_query = ''
url_search = 'https://api.foursquare.com/v2/venues/search?'


# POI data request
def get_poi_data(category, latitude, longitude, radius):
  url = '{}client_id={}&client_secret={}&ll={},{}&{}&v={}&query={}&radius={}&limit={}&categoryId={}'\
      .format(url_search, CLIENT_ID, CLIENT_SECRET, latitude, longitude, intent, VERSION, search_query, radius, LIMIT, category)
  results = requests.get(url).json()

  # tranform results into dataframe
  df = json_normalize(results['response']['venues'])
  filtered_columns = ['id', 'location.lat', 'location.lng'] + ['categories']
  # filtered_columns = ['id', 'name', 'location.city', 'location.lat', 'location.lng'] + ['categories']
  
  poi = df.loc[:, filtered_columns]

  # Unpack category name & id in 'categories'
  poi['category'] = poi.apply(get_category_type, axis=1)
  poi['category_id'] = [d[0].get('id') for d in poi.categories]

  # function that extracts the category of the venue
  # def get_category_type(row):
  #     try:
  #         categories_list = row['categories']
  #     except:
  #         categories_list = row['venue.categories']
          
  #     if len(categories_list) == 0:
  #         return None
  #     else:
  #         return categories_list[0]['name']

  ### get category name for each row


  ### get rating for each row
  poi['rating'] = poi.apply(get_rating, axis=1)
  poi.drop('categories', axis=1, inplace=True)

  return poi

# TODO: Iterate categories
poi = pd.DataFrame()
poi_df = pd.DataFrame()

for category in categories.values():
  poi = get_poi_data(category, latitude, longitude,  radius=10000)
  poi_df = poi_df.append(poi, ignore_index=True)

# Save to G.Drive
temp = poi.to_csv(index=False)
with open('/content/drive/My Drive/Colab_disk/poi.csv', 'w') as f:
  f.write(temp)

poi_df.info()
poi_df.head(4)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:24: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            200 non-null    object
 1   location.lat  200 non-null    float64
 2   location.lng  200 non-null    float64
 3   category      200 non-null    object
 4   category_id   200 non-null    object
 5   rating        200 non-null    object
dtypes: float64(2), object(4)
memory usage: 9.5+ KB

                          id  location.lat  ...               category_id     rating
0   5da05a3631ba060009a2e8b2     51.511728  ...  4bf58dd8d48988d1e0931735        8.4
1   4ead1773f5b936710b583278     51.473337  ...  4bf58dd8d48988d144941735  No rating
2   5b770349112c6c0039a9f0c2     51.512232  ...  4bf58dd8d48988d1d2941735        9.3
3   5c4c7c2335811b002c3bac56     51.543520  ...  4bf58dd8d48988d1e0931735        8.8
4   4b6407e4f964a5200d9c2ae3     51.533885  ...  4bf58dd8d48988d16a941735        8.4
5   4dcaa14a183817362fe73490     51.512016  ...  4bf58dd8d48988d1d0941735        9.1
6   5bc1d72838f21600252afeea     51.494005  ...  4bf58dd8d48988d10f941735        8.6
7   57ee2dd9498e28af93eff303     51.492952  ...  4bf58dd8d48988d16a941735        8.5
8   5cb044142be425002c5682b4     51.513456  ...  4bf58dd8d48988d112941735        8.7
9   521209e311d2ac3f5ea4f1c0     51.512462  ...  4bf58dd8d48988d10c941735        8.9
10  5c164f9facc5f5002c24c014     51.499647  ...  4bf58dd8d48988d16d941735        8.2
11  50f68e92e4b0507e7689e659     51.498651  ...  4bf58dd8d48988d16d941735        9.1
12  5a3456bfbd897e22be63b0a0     51.498566  ...  4bf58dd8d48988d110941735        8.6
13  5453e1bc498eee46cdd2546e     51.496661  ...  4bf58dd8d48988d16d941735        9.1
14  5a19c873356b4976e646ed4b     51.499171  ...  4bf58dd8d48988d1e0931735        8.8
15  586f958902b60e3b6986b898     51.534330  ...  4bf58dd8d48988d115941735        9.3
16  4ac518ecf964a52075ac20e3     51.508363  ...  4bf58dd8d48988d1f6941735        9.2
17  4e805fb2dab41c952c505ffc     51.507767  ...  4bf58dd8d48988d142941735        9.1
18  5bdb3c280802d400396a22e3     51.514300  ...  4bf58dd8d48988d16d941735        8.2
19  59989fbabfc6d00305ddab7e     51.506816  ...  4bf58dd8d48988d16d941735        8.8
20  4ad739bff964a5200a0921e3     51.509961  ...  4bf58dd8d48988d16d941735        8.7
21  4acf1528f964a52063d220e3     51.533421  ...  4bf58dd8d48988d16d941735          9
22  5c58581d8496ca002cb1c42d     51.498620  ...  4bf58dd8d48988d16d941735        8.6
23  4ac518d6f964a52031a820e3     51.484835  ...  52e81612bcbc57f1066b79f9        8.4
24  520e1ec07e48171f805e563b     51.513970  ...  4bf58dd8d48988d16d941735          8
25  55a7b3a9498e07b375ea307d     51.513079  ...  4bf58dd8d48988d10f941735        9.3
26  51339785e4b01d3a761f4030     51.545977  ...  4bf58dd8d48988d146941735        8.1
27  57ff9176d67c6fb6e4c4e41b     51.479719  ...  4bf58dd8d48988d16d941735        8.3
28  55197d88498e3f4d85dc801c     51.487035  ...  52e81612bcbc57f1066b7a05          9
29  4afbd705f964a5202c1f22e3     51.541464  ...  4bf58dd8d48988d146941735        8.9
30  5d2f0f339947ea0007caf4a5     51.496618  ...  4bf58dd8d48988d16e941735        4.5
31  5a848b777dc9e1675d4c81a2     51.509948  ...  56aa371ce4b08b9a8d57356c          9
32  5a26f1b82619ee3fcd50b351     51.496728  ...  4bf58dd8d48988d16d941735        8.3
33  5945752e747ecd08469787e9     51.514415  ...  4bf58dd8d48988d1e0931735        8.1
34  4c1512aaa9c220a1b77d589d     51.512632  ...  4bf58dd8d48988d120951735        9.1
35  4ac518c3f964a52058a420e3     51.509582  ...  4bf58dd8d48988d155941735        6.5
36  586f8ecf6119f44c251632ce     51.506502  ...  4bf58dd8d48988d1c4941735        8.5
37  5921ef7b4c954c04e9ae41ea     51.535029  ...  4bf58dd8d48988d1c4941735        8.4
38  4b6ace9ef964a5203ee12be3     51.518104  ...  4bf58dd8d48988d10c941735          9
39  5da49c7799426300083cc732     51.509784  ...  4bf58dd8d48988d1cd941735        8.7
40  50b3f12be4b0923cb6ef914e     51.504309  ...  4bf58dd8d48988d1be941735        9.3
41  5980dbf30ff4f9479f731d60     51.510147  ...  4bf58dd8d48988d10c941735        9.1
42  4ff037c2e4b05cede06dcba8     51.542973  ...  50327c8591d4c4b30a586d5d        9.3
43  4ace1bd8f964a52075ce20e3     51.553420  ...  4bf58dd8d48988d155941735        8.8
44  4eb28c766da1df5f01d3db7d     51.523595  ...  4bf58dd8d48988d1fd941735        8.2
45  4ac518caf964a520bda520e3     51.518270  ...  4bf58dd8d48988d10e941735          8
46  4ac518dbf964a520eba820e3     51.484480  ...  4bf58dd8d48988d11b941735          8
47  558d915b498e2bbde560e602     51.550713  ...  4bf58dd8d48988d155941735        9.1
48  4b9ce8faf964a520da8136e3     51.435320  ...  4f04af1f2fb6e1c99f3db0bb          8
49  4c051045f56c2d7f720d1f66     51.512076  ...  4bf58dd8d48988d16c941735        8.4
50  4ac518cdf964a520e6a520e3     51.508876  ...  4bf58dd8d48988d18f941735        9.4
51  4ac518cdf964a520f0a520e3     51.504847  ...  4bf58dd8d48988d164941735        8.9
52  4f8f318be4b0e77df43bba76     51.491083  ...  4bf58dd8d48988d1f1931735  No rating
53  4ac518cef964a520f6a520e3     51.500620  ...  4bf58dd8d48988d12d941735        9.3
54  52d3e3b311d2ef090b640411     51.530080  ...  4bf58dd8d48988d187941735  No rating

[55 rows x 6 columns]

In [53]:
### Claning POI Data
# Drop No Rating records
poi_df = poi_df[~poi_df['rating'].isin(["No rating"])]

poi_df.info()
poi_df.head(55)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 0 to 199
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            183 non-null    object
 1   location.lat  183 non-null    float64
 2   location.lng  183 non-null    float64
 3   category      183 non-null    object
 4   category_id   183 non-null    object
 5   rating        183 non-null    object
dtypes: float64(2), object(4)
memory usage: 10.0+ KB

                          id  location.lat  ...               category_id rating
0   5da05a3631ba060009a2e8b2     51.511728  ...  4bf58dd8d48988d1e0931735    8.4
2   5b770349112c6c0039a9f0c2     51.512232  ...  4bf58dd8d48988d1d2941735    9.3
3   5c4c7c2335811b002c3bac56     51.543520  ...  4bf58dd8d48988d1e0931735    8.8
4   4b6407e4f964a5200d9c2ae3     51.533885  ...  4bf58dd8d48988d16a941735    8.4
5   4dcaa14a183817362fe73490     51.512016  ...  4bf58dd8d48988d1d0941735    9.1
6   5bc1d72838f21600252afeea     51.494005  ...  4bf58dd8d48988d10f941735    8.6
7   57ee2dd9498e28af93eff303     51.492952  ...  4bf58dd8d48988d16a941735    8.5
8   5cb044142be425002c5682b4     51.513456  ...  4bf58dd8d48988d112941735    8.7
9   521209e311d2ac3f5ea4f1c0     51.512462  ...  4bf58dd8d48988d10c941735    8.9
10  5c164f9facc5f5002c24c014     51.499647  ...  4bf58dd8d48988d16d941735    8.2
11  50f68e92e4b0507e7689e659     51.498651  ...  4bf58dd8d48988d16d941735    9.1
12  5a3456bfbd897e22be63b0a0     51.498566  ...  4bf58dd8d48988d110941735    8.6
13  5453e1bc498eee46cdd2546e     51.496661  ...  4bf58dd8d48988d16d941735    9.1
14  5a19c873356b4976e646ed4b     51.499171  ...  4bf58dd8d48988d1e0931735    8.8
15  586f958902b60e3b6986b898     51.534330  ...  4bf58dd8d48988d115941735    9.3
16  4ac518ecf964a52075ac20e3     51.508363  ...  4bf58dd8d48988d1f6941735    9.2
17  4e805fb2dab41c952c505ffc     51.507767  ...  4bf58dd8d48988d142941735    9.1
18  5bdb3c280802d400396a22e3     51.514300  ...  4bf58dd8d48988d16d941735    8.2
19  59989fbabfc6d00305ddab7e     51.506816  ...  4bf58dd8d48988d16d941735    8.8
20  4ad739bff964a5200a0921e3     51.509961  ...  4bf58dd8d48988d16d941735    8.7
21  4acf1528f964a52063d220e3     51.533421  ...  4bf58dd8d48988d16d941735      9
22  5c58581d8496ca002cb1c42d     51.498620  ...  4bf58dd8d48988d16d941735    8.6
23  4ac518d6f964a52031a820e3     51.484835  ...  52e81612bcbc57f1066b79f9    8.4
24  520e1ec07e48171f805e563b     51.513970  ...  4bf58dd8d48988d16d941735      8
25  55a7b3a9498e07b375ea307d     51.513079  ...  4bf58dd8d48988d10f941735    9.3
26  51339785e4b01d3a761f4030     51.545977  ...  4bf58dd8d48988d146941735    8.1
27  57ff9176d67c6fb6e4c4e41b     51.479719  ...  4bf58dd8d48988d16d941735    8.3
28  55197d88498e3f4d85dc801c     51.487035  ...  52e81612bcbc57f1066b7a05      9
29  4afbd705f964a5202c1f22e3     51.541464  ...  4bf58dd8d48988d146941735    8.9
30  5d2f0f339947ea0007caf4a5     51.496618  ...  4bf58dd8d48988d16e941735    4.5
31  5a848b777dc9e1675d4c81a2     51.509948  ...  56aa371ce4b08b9a8d57356c      9
32  5a26f1b82619ee3fcd50b351     51.496728  ...  4bf58dd8d48988d16d941735    8.3
33  5945752e747ecd08469787e9     51.514415  ...  4bf58dd8d48988d1e0931735    8.1
34  4c1512aaa9c220a1b77d589d     51.512632  ...  4bf58dd8d48988d120951735    9.1
35  4ac518c3f964a52058a420e3     51.509582  ...  4bf58dd8d48988d155941735    6.5
36  586f8ecf6119f44c251632ce     51.506502  ...  4bf58dd8d48988d1c4941735    8.5
37  5921ef7b4c954c04e9ae41ea     51.535029  ...  4bf58dd8d48988d1c4941735    8.4
38  4b6ace9ef964a5203ee12be3     51.518104  ...  4bf58dd8d48988d10c941735      9
39  5da49c7799426300083cc732     51.509784  ...  4bf58dd8d48988d1cd941735    8.7
40  50b3f12be4b0923cb6ef914e     51.504309  ...  4bf58dd8d48988d1be941735    9.3
41  5980dbf30ff4f9479f731d60     51.510147  ...  4bf58dd8d48988d10c941735    9.1
42  4ff037c2e4b05cede06dcba8     51.542973  ...  50327c8591d4c4b30a586d5d    9.3
43  4ace1bd8f964a52075ce20e3     51.553420  ...  4bf58dd8d48988d155941735    8.8
44  4eb28c766da1df5f01d3db7d     51.523595  ...  4bf58dd8d48988d1fd941735    8.2
45  4ac518caf964a520bda520e3     51.518270  ...  4bf58dd8d48988d10e941735      8
46  4ac518dbf964a520eba820e3     51.484480  ...  4bf58dd8d48988d11b941735      8
47  558d915b498e2bbde560e602     51.550713  ...  4bf58dd8d48988d155941735    9.1
48  4b9ce8faf964a520da8136e3     51.435320  ...  4f04af1f2fb6e1c99f3db0bb      8
49  4c051045f56c2d7f720d1f66     51.512076  ...  4bf58dd8d48988d16c941735    8.4
50  4ac518cdf964a520e6a520e3     51.508876  ...  4bf58dd8d48988d18f941735    9.4
51  4ac518cdf964a520f0a520e3     51.504847  ...  4bf58dd8d48988d164941735    8.9
53  4ac518cef964a520f6a520e3     51.500620  ...  4bf58dd8d48988d12d941735    9.3
59  4f22df5ee4b0020c2d201e70     51.482813  ...  4bf58dd8d48988d190941735    8.7
60  4ac518d3f964a52067a720e3     51.509109  ...  4bf58dd8d48988d18f941735    9.2
61  4ac518d2f964a5203da720e3     51.519009  ...  4bf58dd8d48988d190941735    9.3

[55 rows x 6 columns]

### Methodology:

1. Listing all London Hotels and it's Foursquare ratings
2. Same for POI (of selected cathegories - known for impacting hotel rating)
3. Cluster (ML) POI around highest Hotel ratings locations (based on POI ratings)
4. Vizualize clusters on the Folio map where highest hotel rating expected

### ToDo:
1. Prepare data for ML: POI ratings as predictor nearest hotel as result

In [2]:
# 2.1 Reading and preparing all of Greater London postcodes (by outcode) and get average location (coordinates)
import pandas as pd
postcodes = pd.read_csv('https://raw.githubusercontent.com/Dehyzz/IBM_Capstone/master/London%20postcodes.csv')
postcodes["Postcode"] = postcodes["Postcode"].str.split().str[0]
postcodes = postcodes.groupby(['Postcode']).mean()
postcodes

           Latitude  Longitude
Postcode
BR1       51.412023   0.020878
BR2       51.387284   0.022406
BR3       51.404592  -0.030544
BR4       51.375068  -0.008391
BR5       51.391707   0.103335
...             ...        ...
WC2N      51.509066  -0.124911
WC2R      51.511689  -0.118319
WD23      51.631946  -0.334541
WD3       51.624974  -0.490279
WD6       51.642800  -0.256293

[311 rows x 2 columns]